extends layout
 
block content
    .container
        .row 
            .col-auto.me-auto
               // a(onClick("window.location.reload()")) Refresh
            .col-auto
                form.d-flex(name="cexRefresh" action="/cexRefresh" method="POST")    
                    button.btn.btn-outline-dark(type='submit' ) Refresh CEX Results

        table.table.table.table-hover.caption-top
            caption In-Stock Items Only
                thead.thead-dark(style='overflow: auto; position: sticky;top: 0; background: black; color: white')
                    tr
                        th(scope='col') Item ID
                        th(scope='col') Name
                        th(scope='col') Sell Price
                        th(scope='col') Cash Price               
                        th(scope='col') Exchange Price
                        th(scope='col') Stock
                tbody
                    each val in items ? items : []
                        tr
                            td= val.itemId 
                            td= val.itemName + ' '
                              a(class='weblink' href="https://uk.webuy.com/product-detail/?id=" + val.itemId)
                                  i.bi.bi-box-arrow-up-right  
                            td= val.sellPrice  
                            td= val.cashPrice
                            td= val.exchangePrice
                            td= val.stock